@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.ttf") format("truetype"), url("/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/_fonts.scss */
[class^="ico-"], [class*=" ico-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_fonts.scss */
.ico-arrow-right:before {
  content: "\e600";
}

/* line 29, ../sass/_fonts.scss */
.ico-exclamation:before {
  content: "\e601";
}

/* line 32, ../sass/_fonts.scss */
.ico-phone:before {
  content: "\e602";
}

/* line 35, ../sass/_fonts.scss */
.ico-arrow-left:before {
  content: "\e603";
}

/* line 38, ../sass/_fonts.scss */
.ico-instagram:before {
  content: "\e604";
}

/* line 41, ../sass/_fonts.scss */
.ico-facebook:before {
  content: "\e605";
}

/* line 44, ../sass/_fonts.scss */
.ico-twitter:before {
  content: "\e606";
}

/* line 47, ../sass/_fonts.scss */
.ico-envelope:before {
  content: "\e607";
}

/* line 50, ../sass/_fonts.scss */
.ico-pinterest:before {
  content: "\e608";
}

/* line 53, ../sass/_fonts.scss */
.ico-youtube:before {
  content: "\e609";
}

/* line 56, ../sass/_fonts.scss */
.ico-houzz:before {
  content: "\e60a";
}

/* KEYFRAMES */
@-webkit-keyframes grow {
  /* line 5, ../sass/_animations.scss */
  100% {
    padding-top: 2em;
  }
}

@-moz-keyframes grow {
  /* line 9, ../sass/_animations.scss */
  100% {
    padding-top: 2em;
  }
}

@-webkit-keyframes shrink {
  /* line 13, ../sass/_animations.scss */
  from {
    padding-top: 2em;
  }

  /* line 14, ../sass/_animations.scss */
  to {
    padding-top: .5em;
  }
}

@-webkit-keyframes left-fast {
  /* line 19, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  /* line 20, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* line 24, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-name: left-fast;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
}

/* line 31, ../sass/_animations.scss */
.left-slow {
  -webkit-animation-name: left-fast;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_smallest.scss */
body {
  font: 100%/1.5 "Roboto", sans-serif;
  color: #011f40;
  padding: 0;
}

/* CLEARFIX */
/* line 15, ../sass/_smallest.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 20, ../sass/_smallest.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 28, ../sass/_smallest.scss */
.cf {
  *zoom: 1;
}

/* line 32, ../sass/_smallest.scss */
.dropdown-menu {
  left: 1em;
}

/* line 35, ../sass/_smallest.scss */
.dropdown {
  position: fixed;
  z-index: 99999;
  width: 100%;
}

/* line 45, ../sass/_smallest.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background: #8e2629;
}

/* line 49, ../sass/_smallest.scss */
.dropdown-toggle {
  background: #464646 url(/img/footerbg.png) center top no-repeat;
  padding: 1em;
  display: inline-block;
  width: 100%;
  color: white !important;
  font-size: 23px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* HEADINGS */
/* line 66, ../sass/_smallest.scss */
.products li {
  list-style: none;
  border-bottom: solid 1px #8b8b8b;
  margin-bottom: 1em;
  padding: 1em 0;
}
/* line 71, ../sass/_smallest.scss */
.products li:last-child {
  padding: 1em 0 0 0;
  border-bottom: 0px;
}
/* line 75, ../sass/_smallest.scss */
.products li h2 {
  margin-top: 0;
}

/* line 81, ../sass/_smallest.scss */
.commercial_products {
  margin: 0;
  padding: 0;
}
/* line 84, ../sass/_smallest.scss */
.commercial_products li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1em;
}
/* line 89, ../sass/_smallest.scss */
.commercial_products li a {
  color: #8b8b8b;
}
/* line 91, ../sass/_smallest.scss */
.commercial_products li a:hover {
  color: #8e2629;
}

/* line 98, ../sass/_smallest.scss */
.thumbs {
  width: 48%;
  float: left;
  margin: 1%;
  padding: .5em;
  border-bottom: solid 1px #9c9c9c;
  height: 150px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 106, ../sass/_smallest.scss */
.thumbs:hover {
  opacity: .8;
}
/* line 109, ../sass/_smallest.scss */
.thumbs img {
  width: 100%;
  margin-bottom: 5px;
}
/* line 113, ../sass/_smallest.scss */
.thumbs p {
  font-size: 10px;
  color: #222222;
  text-transform: uppercase;
}

/* line 120, ../sass/_smallest.scss */
.navactive a {
  color: #8e2629 !important;
}

/* line 124, ../sass/_smallest.scss */
h1, h2, h3, h4, h5 {
  font-family: "Monda", sans-serif;
  color: #8e2629;
}

/* line 129, ../sass/_smallest.scss */
h1 {
  margin: 0 0 10px 0;
  font-family: "Monda", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: #011f40;
}

/* PARAGRAPH */
/* line 139, ../sass/_smallest.scss */
p, li, a, small, a:visited {
  font-family: "Roboto", sans-serif;
  color: #464646;
  text-decoration: none;
}

/* line 145, ../sass/_smallest.scss */
a:hover, a:focus {
  color: #8e2629;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

/* line 152, ../sass/_smallest.scss */
p {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 15px;
}

/* HEADER & LOGO */
/* RESPONSIVE IMAGES */
/* line 164, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 171, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* NAVIGATION */
/* line 176, ../sass/_smallest.scss */
.tophat {
  background: #595959;
  padding: 10px 0 !important;
}
/* line 179, ../sass/_smallest.scss */
.tophat ul {
  float: right;
  margin: 1em 0;
}
/* line 182, ../sass/_smallest.scss */
.tophat ul li {
  float: left;
  padding: 0 1em;
}
/* line 185, ../sass/_smallest.scss */
.tophat ul li a {
  padding: 0 !important;
}
/* line 190, ../sass/_smallest.scss */
.tophat p, .tophat a, .tophat span {
  font-size: 12px;
  color: white;
  margin: 0;
  font-weight: 300;
}
/* line 196, ../sass/_smallest.scss */
.tophat .contact {
  text-align: right;
}

/* line 201, ../sass/_smallest.scss */
.cta {
  cursor: pointer;
  background: #8e2629;
  padding: .5em;
  width: 200px;
  text-align: center;
  float: right;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.4);
  position: relative;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* line 212, ../sass/_smallest.scss */
.cta:hover {
  padding-top: 1.5em;
}
/* line 215, ../sass/_smallest.scss */
.cta a {
  color: white;
  margin: 0;
  font-size: 12px;
  font-family: "Monda", sans-serif;
}

/* line 222, ../sass/_smallest.scss */
.navs {
  position: fixed;
  padding: 0;
  z-index: 3000;
}

/* line 227, ../sass/_smallest.scss */
.mainnav {
  background: white url(/img/whitebg.png) repeat;
  padding: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
/* line 231, ../sass/_smallest.scss */
.mainnav .logo {
  margin: 1.5em 0;
}
/* line 234, ../sass/_smallest.scss */
.mainnav ul {
  margin: 0;
  padding: 0;
  float: right;
}
/* line 241, ../sass/_smallest.scss */
.mainnav ul .active a {
  color: white !important;
}
/* line 245, ../sass/_smallest.scss */
.mainnav ul li {
  float: left;
  list-style: none;
  font-size: 14px;
}
/* line 246, ../sass/_smallest.scss */
.mainnav ul li span {
  padding-right: 4px;
  padding-top: 1px;
}
/* line 250, ../sass/_smallest.scss */
.mainnav ul li a {
  padding: 4.3em .5em;
  display: inline-block;
}
/* line 257, ../sass/_smallest.scss */
.mainnav ul li:last-child {
  padding-right: 0;
}

/* line 264, ../sass/_smallest.scss */
.secondarynav {
  padding: 0;
  margin: 0;
  background: #8e2629;
}
/* line 270, ../sass/_smallest.scss */
.secondarynav .active {
  display: block !important;
}
/* line 273, ../sass/_smallest.scss */
.secondarynav .service {
  background: none;
  display: none;
  text-align: center;
  float: none;
}
/* line 278, ../sass/_smallest.scss */
.secondarynav .service .button {
  border-color: white;
  color: white;
  margin: 1.75em 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 283, ../sass/_smallest.scss */
.secondarynav .service .button:hover {
  opacity: 0.4;
}
/* line 291, ../sass/_smallest.scss */
.secondarynav .wrap ul li a {
  padding: 0;
  margin: 0;
  color: white;
  padding: 2.25em 3em;
  border-top: 20px solid #8e2629;
  border-bottom: 10px solid #8e2629;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 299, ../sass/_smallest.scss */
.secondarynav .wrap ul li a:hover {
  border-color: #a43f44;
}

/* line 309, ../sass/_smallest.scss */
.commercial {
  background: #979290;
  text-align: center;
}

/* line 314, ../sass/_smallest.scss */
.residential {
  background: #bfbfbf;
  text-align: center;
}

/* line 320, ../sass/_smallest.scss */
.residential a, .commercial a {
  color: white !important;
}
/* line 321, ../sass/_smallest.scss */
.residential:hover, .commercial:hover {
  background: #8e2629;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* MAIN */
/* line 328, ../sass/_smallest.scss */
section {
  padding: 2em 0;
}

/* line 333, ../sass/_smallest.scss */
.content {
  padding: 4em 0;
}

/* line 338, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
  padding: 0 1em;
}
/* line 342, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 347, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 354, ../sass/_smallest.scss */
.pagetitle {
  background-size: cover;
  padding: 4em 2em;
  margin-top: 75px;
}
/* line 358, ../sass/_smallest.scss */
.pagetitle h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* line 368, ../sass/_smallest.scss */
.hero {
  background-size: auto 200%;
  padding: 1em 0;
  min-height: 250px;
  position: relative;
  text-align: center;
}
/* line 375, ../sass/_smallest.scss */
.hero .button {
  border: 0;
  padding: 1em 3em;
  color: white;
  background: #8e2629;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
/* line 383, ../sass/_smallest.scss */
.hero .button:hover {
  color: #8e2629;
  background: white;
}
/* line 388, ../sass/_smallest.scss */
.hero .wrap {
  display: table;
  height: 100%;
  padding: 0 1em;
}
/* line 392, ../sass/_smallest.scss */
.hero .wrap .align {
  display: table-cell;
  vertical-align: middle;
}
/* line 397, ../sass/_smallest.scss */
.hero h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 405, ../sass/_smallest.scss */
.hero span {
  display: block;
}

/* line 412, ../sass/_smallest.scss */
.third {
  position: relative;
  z-index: 1000;
  padding: 0;
}
/* line 417, ../sass/_smallest.scss */
.third .span6 {
  padding: 1.5em 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 420, ../sass/_smallest.scss */
.third .span6:hover {
  background: #8e2629 !important;
}
/* line 424, ../sass/_smallest.scss */
.third .left {
  background: #909797 url(/img/graybg.png) repeat;
}
/* line 427, ../sass/_smallest.scss */
.third .right {
  margin: 0;
  background: #bfbfbf url(/img/lightgraybg.png) repeat;
}
/* line 431, ../sass/_smallest.scss */
.third h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  font-weight: 300;
  text-align: center;
}

/* line 442, ../sass/_smallest.scss */
.benefits {
  background: white url(/img/first.jpg) no-repeat center;
  padding: 6em 0;
  background-size: cover;
}
/* line 447, ../sass/_smallest.scss */
.benefits .wrap {
  padding: 0 1em;
}
/* line 450, ../sass/_smallest.scss */
.benefits .wrap .span6 {
  text-align: center;
}
/* line 452, ../sass/_smallest.scss */
.benefits .wrap .span6:first-child {
  margin-bottom: 3em;
}
/* line 455, ../sass/_smallest.scss */
.benefits .wrap .span6 span {
  font-size: 95px;
}
/* line 460, ../sass/_smallest.scss */
.benefits .wrap .span6:hover h2, .benefits .wrap .span6:hover p, .benefits .wrap .span6:hover .button, .benefits .wrap .span6:hover span {
  color: #8e2629 !important;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
/* line 464, ../sass/_smallest.scss */
.benefits .wrap .span6:hover .button {
  border-color: #8e2629;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
/* line 469, ../sass/_smallest.scss */
.benefits .wrap .span6 h2 {
  font-size: 40px;
  margin-bottom: 1em;
  color: #464646;
}

/* line 478, ../sass/_smallest.scss */
.services-button {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin: 1em 0;
  padding: 2em 3em;
  font-family: "Monda", sans-serif !important;
  color: white !important;
  -webkit-transition: All 1.5s ease;
  -moz-transition: All 1.5s ease;
  -ms-transition: All 1.5s ease;
  -o-transition: All 1.5s ease;
  transition: All 1.5s ease;
  font-size: 30px;
  display: block;
  background-position: center 0;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
/* line 493, ../sass/_smallest.scss */
.services-button:hover {
  -webkit-transition: All 1.5s ease;
  -moz-transition: All 1.5s ease;
  -ms-transition: All 1.5s ease;
  -o-transition: All 1.5s ease;
  transition: All 1.5s ease;
  opacity: .7;
  background-position: center -200px;
}

/* line 501, ../sass/_smallest.scss */
.about {
  -webkit-background-size: cover;
  background-size: cover;
  padding: 3em 1em;
}
/* line 505, ../sass/_smallest.scss */
.about .span12 {
  max-width: 450px;
}
/* line 508, ../sass/_smallest.scss */
.about h2 {
  font-size: 40px;
  margin: 0;
}
/* line 512, ../sass/_smallest.scss */
.about h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 25px;
  margin-top: .50em;
}

/* line 520, ../sass/_smallest.scss */
.button {
  padding: 1em 3em;
  border: solid 1px #464646;
  margin: 1em 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* line 529, ../sass/_smallest.scss */
.button:hover {
  color: #8e2629;
  border-color: #8e2629;
}

/* FOOTER */
/* line 538, ../sass/_smallest.scss */
.flexwrap {
  overflow-x: hidden;
  margin-top: 75px;
}

/* line 543, ../sass/_smallest.scss */
.footer {
  background-color: #5b5959;
  background-image: -moz-linear-gradient(top, #737171, #373737);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#737171), to(#373737));
  background-image: -webkit-linear-gradient(top, #737171, #373737);
  background-image: -o-linear-gradient(top, #737171, #373737);
  background-image: linear-gradient(to bottom, #737171, #373737);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF737171', endColorstr='#FF373737', GradientType=0);
  padding: 0;
  position: relative;
  z-index: 200;
}
/* line 549, ../sass/_smallest.scss */
.footer .subnav a {
  font-size: 14px !important;
}
/* line 553, ../sass/_smallest.scss */
.footer p, .footer li, .footer a {
  color: white;
  font-size: 11px;
}
/* line 559, ../sass/_smallest.scss */
.footer .locations .span4 {
  border-bottom: solid 1px white;
}
/* line 561, ../sass/_smallest.scss */
.footer .locations .span4:last-child {
  border-bottom: 0px;
}
/* line 566, ../sass/_smallest.scss */
.footer .span4 {
  margin-left: 0px;
  padding: 0 2em;
  text-align: center;
}
/* line 572, ../sass/_smallest.scss */
.footer .span4 p, .footer .span4 li, .footer .span4 a {
  font-size: 11px;
}
/* line 575, ../sass/_smallest.scss */
.footer .span4 img {
  padding-right: 1em;
}
/* line 579, ../sass/_smallest.scss */
.footer .span8 {
  margin-left: 0px;
  padding: 10px 0;
}
/* line 583, ../sass/_smallest.scss */
.footer .wrap {
  background: url(/img/footerbg.png) center top no-repeat;
  padding: 2em 1em;
  text-align: center;
}
/* line 588, ../sass/_smallest.scss */
.footer .footernav {
  margin-bottom: 2em;
}
/* line 593, ../sass/_smallest.scss */
.footer ul .navactive a {
  color: #3d3d3d !important;
}
/* line 597, ../sass/_smallest.scss */
.footer ul li {
  float: left;
  list-style: none;
  padding-right: 2em;
}
/* line 601, ../sass/_smallest.scss */
.footer ul li:last-child {
  padding-right: 0;
}

/* BUTTON */
/* TESTIMONIAL ROTATOR */
/* line 619, ../sass/_smallest.scss */
.testimonials {
  background: #565958;
  box-shadow: inset 0px -20px 30px rgba(0, 0, 0, 0.5);
  padding: 2em 1em 0;
  height: 290px;
}

/* line 626, ../sass/_smallest.scss */
.cbp-qtrotator {
  position: relative;
  margin: auto;
  max-width: 800px;
  width: 100%;
}

/* line 635, ../sass/_smallest.scss */
.cbp-qtcontent {
  margin-top: 1em;
}

/* line 640, ../sass/_smallest.scss */
.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  text-align: center;
  border-top: 1px solid #565958;
  top: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
}

/* line 652, ../sass/_smallest.scss */
.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}

/* line 657, ../sass/_smallest.scss */
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative;
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}

/* line 665, ../sass/_smallest.scss */
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}

/* line 670, ../sass/_smallest.scss */
.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}

/* line 674, ../sass/_smallest.scss */
.cbp-qtprogress {
  position: absolute;
  background: #858786;
  height: 1px;
  width: 0%;
  top: 0px;
  z-index: 1000;
}

/* line 683, ../sass/_smallest.scss */
.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0;
}

/* line 688, ../sass/_smallest.scss */
.cbp-qtrotator p {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: white;
  font-weight: 100;
  margin: 0.4em auto .25em;
  text-align: center;
  text-transform: uppercase;
  max-width: 500px;
  line-height: 1.4;
}

/* line 699, ../sass/_smallest.scss */
.cbp-qtrotator .name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-transform: none;
}

/* line 705, ../sass/_smallest.scss */
.cbp-qtrotator blockquote footer {
  font-size: 1.2em;
}

/* line 709, ../sass/_smallest.scss */
.cbp-qtrotator blockquote footer:before {
  content: '― ';
}

/* Example for media query */
@media screen and (max-width: 30.6em) {
  /* line 717, ../sass/_smallest.scss */
  .cbp-qtrotator {
    font-size: 70%;
  }

  /* line 721, ../sass/_smallest.scss */
  .cbp-qtrotator img {
    width: 80px;
  }
}
/* CONTACGT FORM */
/* Contact Form */
/* line 730, ../sass/_smallest.scss */
.cbp-mc-form {
  position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 736, ../sass/_smallest.scss */
.cbp-mc-form:before,
.cbp-mc-form:after {
  content: " ";
  display: table;
}

/* line 740, ../sass/_smallest.scss */
.cbp-mc-form:after {
  clear: both;
}

/* line 744, ../sass/_smallest.scss */
.cbp-mc-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Monda", sans-serif;
  color: #464646;
}

/* line 756, ../sass/_smallest.scss */
.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: "Monda", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #464646;
  display: block;
  width: 100%;
  background: transparent;
}

/* line 768, ../sass/_smallest.scss */
.cbp-mc-form input,
.cbp-mc-form textarea {
  border: 1px solid #464646;
}

/* line 772, ../sass/_smallest.scss */
.cbp-mc-form textarea {
  min-height: 200px;
}

/* line 779, ../sass/_smallest.scss */
.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
  outline: none;
  border: 1px solid #464646;
}

/* line 784, ../sass/_smallest.scss */
.cbp-mc-form select:focus {
  outline: none;
}

/* line 788, ../sass/_smallest.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 793, ../sass/_smallest.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 798, ../sass/_smallest.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 803, ../sass/_smallest.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 808, ../sass/_smallest.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 814, ../sass/_smallest.scss */
.cbp-mc-form input.cbp-mc-submit {
  background: #464646;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
}

/* line 829, ../sass/_smallest.scss */
.cbp-mc-form input.cbp-mc-submit:hover {
  background: #8e2629;
}

/* line 835, ../sass/_smallest.scss */
#myModal input[type="submit"] {
  background: #464646;
  color: white;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 0;
}
/* line 841, ../sass/_smallest.scss */
#myModal input[type="submit"]:hover {
  opacity: .8;
}

/* line 847, ../sass/_smallest.scss */
.nospam, #nospam {
  display: none;
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* line 863, ../sass/_smallest.scss */
.flexwrap {
  padding: 0 !important;
}

/* Browser Resets */
/* line 872, ../sass/_smallest.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 875, ../sass/_smallest.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 879, ../sass/_smallest.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 880, ../sass/_smallest.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 881, ../sass/_smallest.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 882, ../sass/_smallest.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 885, ../sass/_smallest.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 886, ../sass/_smallest.scss */
html[xmlns] .slides {
  display: block;
}

/* line 887, ../sass/_smallest.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 892, ../sass/_smallest.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 897, ../sass/_smallest.scss */
.flexslider {
  position: relative;
  zoom: 1;
}

/* line 898, ../sass/_smallest.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 899, ../sass/_smallest.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 900, ../sass/_smallest.scss */
.flexslider .slides {
  zoom: 1;
  overflow-y: hidden;
}

/* line 902, ../sass/_smallest.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 906, ../sass/_smallest.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 907, ../sass/_smallest.scss */
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(/img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}

/* line 908, ../sass/_smallest.scss */
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}

/* line 909, ../sass/_smallest.scss */
.flex-direction-nav .flex-prev {
  left: -36px;
}

/* line 910, ../sass/_smallest.scss */
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}

/* line 911, ../sass/_smallest.scss */
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}

/* line 912, ../sass/_smallest.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 913, ../sass/_smallest.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
/* line 916, ../sass/_smallest.scss */
.flex-control-nav {
  position: relative;
  text-align: center;
  z-index: 2000;
  margin: auto;
  display: none;
}

/* line 918, ../sass/_smallest.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 1em 0;
}

/* line 919, ../sass/_smallest.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(200, 177, 139, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 920, ../sass/_smallest.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(200, 177, 139, 0.8);
}

/* line 921, ../sass/_smallest.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: #c8b18b;
  cursor: default;
}

/* line 923, ../sass/_smallest.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 924, ../sass/_smallest.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 925, ../sass/_smallest.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 926, ../sass/_smallest.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 927, ../sass/_smallest.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 930, ../sass/_smallest.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }

  /* line 931, ../sass/_smallest.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
/* GALLERY */
/* line 938, ../sass/_smallest.scss */
.gallery {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
/* line 942, ../sass/_smallest.scss */
.gallery ul {
  padding: 0;
  margin: 0;
}
/* line 946, ../sass/_smallest.scss */
.gallery li {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
/* line 955, ../sass/_smallest.scss */
.gallery li h2 {
  color: #464646;
}
/* line 959, ../sass/_smallest.scss */
.gallery li:hover .overlay {
  opacity: 1;
}
/* line 964, ../sass/_smallest.scss */
.gallery li .overlay {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 978, ../sass/_smallest.scss */
.info {
  padding: 9em 0;
  text-align: center;
  display: inline-block;
}
/* line 983, ../sass/_smallest.scss */
.info:hover h2 {
  color: #8e2629;
}
/* line 986, ../sass/_smallest.scss */
.info:hover .button {
  color: #8e2629;
  border-color: #8e2629;
}

@media (min-width: 450px) {
  /* line 2, ../sass/_450.scss */
  .pagetitle h1 {
    font-size: 50px;
  }
}
@media (min-width: 700px) {
  /* line 1, ../sass/_700.scss */
  .left {
    width: 50% !important;
  }

  /* line 5, ../sass/_700.scss */
  .right {
    width: 50% !important;
  }

  /* line 10, ../sass/_700.scss */
  .wrap {
    padding: 0;
  }

  /* line 15, ../sass/_700.scss */
  .footer .wrap {
    padding: 2em 0;
  }
  /* line 19, ../sass/_700.scss */
  .footer .span4 {
    border-right: solid 1px rgba(255, 255, 255, 0.4);
    border-left: solid 1px rgba(0, 0, 0, 0.5);
    text-align: left;
  }
  /* line 23, ../sass/_700.scss */
  .footer .span4:last-child {
    border-right: 0px;
  }
  /* line 26, ../sass/_700.scss */
  .footer .span4:first-child {
    border-left: 0px;
    padding-left: 0px;
  }
  /* line 31, ../sass/_700.scss */
  .footer .span8 {
    border-left: solid 1px rgba(0, 0, 0, 0.5);
  }

  /* line 37, ../sass/_700.scss */
  .benefits .wrap {
    background: url(/img/spacer.png) no-repeat center top;
  }
  /* line 40, ../sass/_700.scss */
  .benefits .wrap .span6:first-child {
    margin-bottom: 0em;
  }

  /* line 47, ../sass/_700.scss */
  .thumbs {
    width: 23%;
  }

  /* line 52, ../sass/_700.scss */
  .about {
    padding: 8em 0;
  }
  /* line 54, ../sass/_700.scss */
  .about h2 {
    font-size: 82px;
  }
  /* line 57, ../sass/_700.scss */
  .about h3 {
    font-size: 43px;
  }

  /* line 62, ../sass/_700.scss */
  .hero {
    min-height: 500px;
    margin-top: 180px;
    text-align: left;
    background-size: cover;
    height: 240px;
    padding: 0;
  }
  /* line 70, ../sass/_700.scss */
  .hero .wrap h1 {
    font-size: 65px;
    text-align: left;
  }

  /* line 78, ../sass/_700.scss */
  .footer .wrap {
    text-align: left;
  }
  /* line 83, ../sass/_700.scss */
  .footer .locations .span4 {
    border-bottom: 0;
  }

  /* line 90, ../sass/_700.scss */
  .pagetitle {
    padding: 8em;
    margin-top: 140px;
  }
  /* line 93, ../sass/_700.scss */
  .pagetitle h1 {
    font-size: 80px;
    text-align: left;
  }

  /* line 99, ../sass/_700.scss */
  .flexwrap {
    margin-top: 0;
  }

  /* line 105, ../sass/_700.scss */
  .gallery li {
    width: 50%;
  }

  /* line 114, ../sass/_700.scss */
  .third {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 940px) {
  /* line 1, ../sass/_940.scss */
  .left {
    width: 50% !important;
  }

  /* line 5, ../sass/_940.scss */
  .right {
    width: 50% !important;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
