.left {
	width:50% !important;
}

.right {
	width:50% !important;
}


.wrap {
	padding:0;
}

.footer {
	.wrap {
		padding: 2em 0;
	}

	.span4 {
    border-right:solid 1px rgba(255,255,255,.4);
    border-left:solid 1px rgba(0,0,0,.5);
    text-align: left;
    &:last-child {
      border-right:0px;
    }
    &:first-child {
      border-left:0px;
      padding-left:0px;
    }
  }
	.span8 {
	border-left:solid 1px rgba(0,0,0,.5);
	}
}

.benefits {
	.wrap {
		background: url(/img/spacer.png) no-repeat center top;
		.span6 {
			&:first-child {
		        margin-bottom:0em;
		      }
		}
	}
}

.thumbs {
	width:23%;
}


.about {
	padding:8em 0;
  h2 {
    font-size:82px;
  }
  h3 {
  	font-size:43px;
  }
}

.hero {
	min-height:500px;
	margin-top:180px;
	text-align:left;
	background-size:cover;
	height:240px;
	padding:0;
	.wrap {
		h1 {
		font-size:65px;
	  	text-align: left;	
	  }
	}
}

.footer {
	.wrap {
		text-align:left;
	}

	.locations {
		.span4 {
			border-bottom:0;
		}
	}
}


.pagetitle {
  padding:8em;
  margin-top:140px;
  h1 {
  	font-size:80px;
  	text-align: left;
  	
  }
}
.flexwrap {
	margin-top:0;
}


  .gallery {
  li {

    width: 50%;

    

  }
}

.third {
	 box-shadow: 0 20px 30px rgba(0,0,0,.5);
}