/* KEYFRAMES */

@-webkit-keyframes grow{
0% {}
100% {padding-top:2em;}
 }
 @-moz-keyframes grow{
0% {}
100% {padding-top:2em;}
 }

@-webkit-keyframes shrink{
from { padding-top:2em;}
to {padding-top:.5em; }
 }


@-webkit-keyframes left-fast{
0%{ opacity: 0; -webkit-transform: translateX(100px);}
100%{ opacity: 1; -webkit-transform: translateY(0);}
 }


.left-fast {
	 -webkit-animation-name: left-fast;
  -webkit-animation-duration: 1.5s; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

.left-slow {
	 -webkit-animation-name: left-fast;
  -webkit-animation-duration: 2.5s; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

