@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-arrow-right:before {
	content: "\e600";
}
.ico-exclamation:before {
	content: "\e601";
}
.ico-phone:before {
	content: "\e602";
}
.ico-arrow-left:before {
	content: "\e603";
}
.ico-instagram:before {
	content: "\e604";
}
.ico-facebook:before {
	content: "\e605";
}
.ico-twitter:before {
	content: "\e606";
}
.ico-envelope:before {
	content: "\e607";
}
.ico-pinterest:before {
	content: "\e608";
}
.ico-youtube:before {
	content: "\e609";
}
.ico-houzz:before {
	content: "\e60a";
}
