* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 100%/1.5 $body;
  color: $neutral;
  padding:0;
}

/* CLEARFIX */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.dropdown-menu {
  left:1em;
}
.dropdown {
  position: fixed;
  z-index: 99999;
  width: 100%;
  li {
    
  }
}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background:$secondary;
}

.dropdown-toggle {
  background: #464646 url(/img/footerbg.png) center top no-repeat;
  padding: 1em;
  display: inline-block;
  width: 100%;
  color:white !important;
  font-size: 23px;
box-shadow: 0 4px 10px rgba(0,0,0,.4);


}



/* HEADINGS */

.products {
  li {
    list-style: none;
    border-bottom: solid 1px $ultralight;
    margin-bottom: 1em;
    padding:1em 0;
    &:last-child {
      padding:1em 0 0 0;
      border-bottom: 0px;
    }
    h2 {
      margin-top:0;
    }
  }
}

.commercial_products {
  margin:0;
  padding: 0;
  li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:1em;
    a {
      color:$ultralight;
      &:hover{
        color:$secondary;
      }
    }
  }
}

.thumbs {
width: 48%;
float: left;
margin: 1%;
padding:.5em;
border-bottom:solid 1px #9c9c9c;
height:150px;
@include transition(all .3s);
&:hover {
  opacity:.8;
}
img {
  width:100%;
  margin-bottom: 5px;
  }
  p {
    font-size: 10px;
    color:#222222;
    text-transform: uppercase;
  }
}

.navactive a{
      color:$secondary !important;
    }

h1, h2, h3, h4, h5 {
  font-family:$heading;
  color: $secondary;
}

h1 {
	margin: 0 0 10px 0;
  font-family: $heading;
	font-size: 30px;
	font-weight: 400;
	line-height: 1;
  color: $neutral;
}

/* PARAGRAPH */
p, li, a, small, a:visited {
  font-family: $body;
  color:$primary;
  text-decoration: none;
}

a:hover, a:focus {
  color:$secondary;
  @include transition (.3s);
  text-decoration: none;
}


p {
  
  font-size: 14px;
  line-height: 1.6;
  font-weight:400;
  margin-bottom: 15px;
}

/* HEADER & LOGO */

/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  }
}
/* NAVIGATION */
.tophat {
  background:#595959;
  padding:10px 0 !important;
  ul {
    float:right;
    margin:1em 0;
    li {
      float:left;
      padding:0 1em;
      a {
        padding:0 !important;
      }
    }
  }
  p, a, span {
    font-size:12px;
    color:white;
    margin:0;
    font-weight:300;
  }
  .contact{
    text-align:right;
  }

}
.cta {
  cursor:pointer;
  background:$secondary;
  padding:.5em;
  width:200px;
  text-align: center;
  float:right;
  box-shadow: 0 5px 9px rgba(0,0,0,.4);
  position:relative;
  @include transition (.3s all ease);
  
  &:hover { 
    padding-top:1.5em;
  }
   a {
    color:white;
    margin:0;
    font-size:12px;
    font-family: $heading;
   }
}
.navs {
  position:fixed;
  padding:0;
  z-index:3000;
}
.mainnav {
  background:white url(/img/whitebg.png) repeat;
  padding:0;;
  box-shadow:0 5px 5px rgba(0,0,0,.2);
  .logo {
    margin:1.5em 0;
  }
  ul {
    margin:0;
    padding:0;
    float:right;

    .active {
        
        a {
          color:white !important;
        }
      }
    li {
      span {
        padding-right:4px;
        padding-top:1px;
      }
      a {
        padding:4.3em .5em;
        display:inline-block;
      }
      float:left;
      list-style: none;
      font-size:14px;
      &:last-child {
        padding-right:0;
      }
    }
  }
}

.secondarynav {
  padding:0;
  margin:0;
  background:$secondary;


  .active {
    display:block !important;
  }
  .service {
    background:none;
    display:none;
    text-align: center;
    float:none;
    .button {
    border-color:white;
    color:white;
    margin:1.75em 0;
    @include transition (.3s);
      &:hover {
        opacity:.4
      }
    }
  }
  .wrap {
    ul {
      li {
        a {
          padding:0;
          margin:0;
          color:white;
          padding:2.25em 3em;
          border-top:20px solid $secondary;
          border-bottom:10px solid $secondary;
          @include transition (.5s);
          &:hover {
          border-color:#a43f44;

         }
        }  
      }
    }
  }
}

.commercial {
  background: #979290;
  text-align: center;
}

.residential {
  background:#bfbfbf;
  text-align: center;
}

.residential, .commercial {
  a {color:white !important;}
  &:hover {
    background:$secondary;
    @include transition (.3s);
  }
}
/* MAIN */

section {
  padding:2em 0;
    
}

.content {
 
  padding:4em 0;
}

.wrap {
  max-width: 940px;
  margin:auto;
  padding:0 1em;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}


.pagetitle {
  background-size:cover;
  padding:4em 2em;
  margin-top:75px;
  h1 {
    color:white;
    font-size:30px;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(0,0,0,.8);
    text-align: center;
  }
}


.hero {
  background-size:auto 200%;
  padding:1em 0;
  min-height:250px;
  position:relative;
  text-align: center;

  .button {
    border:0;
    padding:1em 3em;
    color:white;
    background:$secondary;
    @include transition(.3s ease);
    font-size:15px;
    box-shadow:0 0 10px rgba(0,0,0,.8);
    &:hover {
      color:$secondary;
      background:white;
    }
  }
  .wrap {
    display:table;
    height:100%;
    padding:0 1em;
    .align {
    display:table-cell;
    vertical-align:middle;
      }
    }
    h1 {
    color:white;
    font-size:30px;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(0,0,0,.8);
    text-align: center;
      
    }
    span {
      display:block;
    }
  }



.third {
 
  position:relative;
  z-index: 1000;
  padding:0;
  .span6 {
    padding:1.5em 0;
    @include transition (.5s);
    &:hover {
      background:$secondary !important;
    }
  }
  .left {
    background:#909797 url(/img/graybg.png) repeat;
  }
  .right {
    margin:0;
    background: #bfbfbf url(/img/lightgraybg.png) repeat;
  }
  h2 {
    text-transform: uppercase;
    font-size:30px;
    color:white;
    font-weight:300;
    text-align: center;
  }
}



.benefits {
  background: white url(/img/first.jpg) no-repeat center;
  padding:6em 0;
  background-size:cover;

  .wrap{
    
    padding:0 1em;
    .span6 {
      text-align: center;
      &:first-child {
        margin-bottom:3em;
      }
      span {
        font-size:95px;
      }

      &:hover {
        h2, p, .button, span {
          color:$secondary !important;
          @include transition (.8s);
        }
        .button {
          border-color:$secondary;
          @include transition (.8s);
        }
      }
      h2 {
        font-size:40px;
        margin-bottom:1em;
        color:$primary;
      }
    }
  }
}

.services-button {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin:1em 0;
  padding:2em 3em;
  font-family: $heading !important;
  color:white !important;
  @include transition (All 1.5s ease);
  font-size: 30px;
  display:block;
  background-position:center 0;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);


  &:hover {
  @include transition (All 1.5s ease);
    opacity:.7;
    background-position: center -200px;
  }

}

.about {
  -webkit-background-size: cover;
  background-size: cover;
  padding:3em 1em;
  .span12 {
    max-width:450px;
  }
  h2 {
    font-size:40px;
    margin:0;
  }
  h3 {
    font-family: $body;
    font-weight: 100;
    font-size:25px;
    margin-top:.50em;
  }
}

.button {
  padding:1em 3em;
  border:solid 1px $primary;
  margin:1em 0;
  @include transition (.3s);
  position:relative;
  display:inline-block;
  box-shadow:0 0 5px rgba(0,0,0,.3);
  text-align: center;
  &:hover {
    color: $secondary;
    border-color:$secondary;
  }
}


/* FOOTER */

.flexwrap {
  overflow-x: hidden;
  margin-top: 75px;
}

.footer {
  @include vertical-gradient;
  padding:0;
  position:relative;
  z-index:200;
  .subnav {
    a{
      font-size: 14px !important;
    }
  }
  p,li, a {
    color:white;
    font-size:11px;

  }

  .locations .span4 {
    border-bottom:solid 1px white;
     &:last-child {
      border-bottom:0px;
    }
  }

  .span4 {
    
    margin-left:0px;
    padding:0 2em;
    text-align: center;
    
    p,li,a {
      font-size:11px;
    }
    img {
      padding-right:1em;
    }
  }
  .span8 {
    margin-left:0px;
    padding:10px 0;
  }
  .wrap {
    background: url(/img/footerbg.png) center top no-repeat;
    padding:2em 1em;
    text-align: center;
  }
  .footernav {
    margin-bottom:2em;
  }

  ul {
    .navactive a{
      color:#3d3d3d !important;
    }
    
    li {
      float:left;
      list-style: none;
      padding-right:2em;
      &:last-child {
        padding-right:0;
      }
    }
  }

}

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

/* TESTIMONIAL ROTATOR */

.testimonials {
  background: #565958;
  box-shadow:inset 0px -20px 30px rgba(0,0,0,.5);
  padding:2em 1em 0;
  height:290px;

}
.cbp-qtrotator {
  position: relative;
  margin: auto;
  max-width: 800px;
  width: 100%;


}

.cbp-qtcontent {
margin-top:1em;

}

.cbp-qtrotator .cbp-qtcontent {

  position: absolute;
  text-align: center;
  border-top: 1px solid #565958;

  top: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative; 
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}

.cbp-qtprogress {
  position: absolute;
  background: #858786;
  height: 1px;
  width: 0%;
  top: 0px;
  z-index: 1000;
}

.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0;
}

.cbp-qtrotator p {
  font-family:$body;
  font-size: 25px;
  color: white;
  font-weight: 100;
  margin: 0.4em auto .25em;
  text-align:center;
  text-transform: uppercase;
  max-width:500px;
  line-height:1.4;
}
.cbp-qtrotator .name {
  font-family: $body;
  font-size:20px;
  font-weight:100;
  text-transform: none;
}
.cbp-qtrotator blockquote footer {
  font-size: 1.2em;
}

.cbp-qtrotator blockquote footer:before {
  content: '― ';
}


/* Example for media query */
@media screen and (max-width: 30.6em) { 

  .cbp-qtrotator {
    font-size: 70%;
  }

  .cbp-qtrotator img {
    width: 80px;
  }

}

/* CONTACGT FORM */

/* Contact Form */
.cbp-mc-form {
  position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
  content: " "; display: table; 
}

.cbp-mc-form:after { 
  clear: both; 
}

.cbp-mc-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $heading;
  color:$primary;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: $primary;
  display: block;
  width: 100%;
  background: transparent;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
  border: 1px solid $primary;
}

.cbp-mc-form textarea {
  min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
}

.cbp-mc-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
  background: $primary;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin:1em 0;
  font-weight:100;

}

.cbp-mc-form input.cbp-mc-submit:hover {
  background: $secondary;
}


#myModal {
  input[type="submit"] {
    background:$primary;
    color:white;
    padding:10px 20px;
    @include transition (.2s);
    border:0;
    &:hover {
      opacity:.8;
    }
  }
}

.nospam, #nospam {
display: none;
}


/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

.flexwrap {
  padding:0 !important;
} 


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative;  zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1; overflow-y:hidden;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(/img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { position: relative;text-align: center; z-index:2000; margin:auto; display:none;}

.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline; padding:1em 0;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(200,177,139,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;}
.flex-control-paging li a:hover { background: #333; background: rgba(200,177,139,0.8) }
.flex-control-paging li a.flex-active { background: #000; background: #c8b18b; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

/* GALLERY */
.gallery-contain {
  
}
.gallery {
  max-width:1200px;
  margin:auto;
  width:100%;
  ul {
    padding:0;
    margin:0;
  }
  li {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position:center;
    h2 {
      color:$primary;
    }
    &:hover {
      .overlay {
        opacity:1;
      }

    }
    .overlay {
      display:inline-block;
      text-align: center;
      height:100%;
      width:100%;
      z-index: 2;
      background:rgba(255,255,255,.8);
      opacity:0;
      @include transition(all .3s ease)
    }

  }
}

.info {
  padding:9em 0;
  text-align: center;
  display:inline-block;
  &:hover {
          h2 {
        color:$secondary;
      }
      .button {
        color:$secondary;
        border-color:$secondary;
      }
  }
}
