// COLOR PALETTE
$primary: #464646;
$secondary: #8e2629;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #8b8b8b;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;
$heading: 'Monda', sans-serif;
$body: 'Roboto', sans-serif;
